<!DOCTYPE html>
<html>
<head>
<title>Page Title CU</title>
<style>
body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>

<h1>This is a ncugc</h1>
<p>ncugc is op op</p>


</body>
</html>